{% extends 'base.html' %}

{% load static %}

{% block title %} | About Us {% endblock %}


{% block content %}
<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">About  Realtors work</h1>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <!-- <a href="index.html"> -->
                    <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> About</li>
            </ol>
          </nav>
        </div>
      </section>
    
     
       <!-- Team -->
       <section id="team" class="py-5">
          <div class="container">
            <h2 class="text-center">Realtors</h2>
            <div class="row text-center">
  
              {% if sellers %}
                {%for seller in sellers %}
                  <div class="col-md-4">
                      <img src="{{seller.photo.url }}" alt="" class="rounded-circle mb-3">
                      <h4>{{seller.name}}</h4>
                      <p class="text-success">
                        <i class="fas fa-award text-success mb-3"></i> Realtor</p>
                      <hr>
                      <p>
                        <i class="fas fa-phone"></i> {{seller.phone}}</p>
                      <p>
                        <i class="fas fa-envelope-open"></i> {{seller.email}}</p>
                        <a href="{% url 'seller' seller.id %}" class="btn btn-secondary text-white btn-lg">More info</a>   
                      </div>
              
                {% endfor %}
  
              {% else %}
              <div class="col-md-12">
                <p>NO Realtors Available</p>
              </div>
  
              {% endif %}
              
      
             
            </div>
          </div>
        </section>
    
      <!-- Work -->
      <section id="work" class="bg-dark text-white text-center">
        <h2 class="display-4">We Work For You</h2>
        <h4>Take a deep dive and browse original neighborhood photos, drone footage, resident reviews and local insights to see if the homes for sale are right for you.
          </h4>
        <hr>
        <a href="{% url 'listings' %}" class="btn btn-secondary text-white btn-lg">View Our Featured Listings</a>
      </section>
    
     
    
{% endblock %}