{% extends 'base.html' %}

{% load static %}

{% block title %} | {{seller.name}} {% endblock %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.checked {
    color: orange;
    
}
</style>

{% block content %}

<section id="showcase-inner" class="py-5 text-white">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <h1 class="display-4">About {{ seller.name }}</h1>
            </div>
          </div>
        </div>
      </section>


    
      <!-- Breadcrumb -->
      <section id="bc" class="mt-3">
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <!-- <a href="index.html"> -->
                    <a href="{% url 'index' %}">
                  <i class="fas fa-home"></i> Home</a>
              </li>
              <li class="breadcrumb-item active"> About</li>
            </ol>
          </nav>
        </div>
      </section>
     
          <!-- Team -->
       <section id="team" class="py-5">
          <div class="container">
           
            <div class="row text-center">
              <div class="col-md-12 ">
                      <img src="{{seller.photo.url}} " alt=""  style="height:200px;width:200px;" class="">
                      <h4>{{seller.name}}</h4>
                      <p class="text-success">
                        <i class="fas fa-award text-success mb-3"></i>
                         Realtor</p>
                      </div>
             

            </div>
            <div class="col-md-12 align-self-end">
              <div class="container ">
                <p>{{seller.description}}</p>
              </div>
            </div>
            <div class="container text-center">
                <p>
                    <i class="fas fa-phone"></i>{{seller.phone}}</p>
                  <p>
                    <i class="fas fa-envelope-open"></i> {{seller.email}}</p>

            </div>
            
            
          </div>
        </section>
        <hr>
        <div class="container">
        <div class="card my-4">
            <h5 class="card-header">
                Give rating and review to the realtor
            </h5>
            <div class="card-body">
                <form action = "{% url 'seller' seller.id %}" method="POST">

                    {% csrf_token %}
                    <!-- <input type="hidden" name = "user_id" value = "{{user.id}}"> -->

                    <div class="form-group">

                        <input type="text" class = "form-control"  name = "name"
                        {% if user.is_authenticated %}
                        value ="{{user.first_name}} {{user.last_name}}" placeholder="Name"
                        {% endif %}
                        
                        required>

                    </div>
                    <div name ="stars" id="rating" class = "mb-4">
                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="1one" name = "stars" value="1" style="font-size:40px;cursor:pointer;"  class="fa fa-star checked"></span>
                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one" name="stars" value="2" style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one" name = "stars" value="3" style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one" name = "stars" value="4" style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
                        <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one" name= "stars" value="5" style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
                      </div>

                    <div class="form-group">

                        <textarea name="message"  rows="3"` class="form-control" placeholder="Enter your review here"></textarea>

                    </div>
                    

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </div>
        </div>
      </div>
                  <!-- For displaying the messages -->
                  {% for rat in ratings %}
                  <div class="container media mb-4">
                      <div class="media-body">
                           <h5 class="mt-0">{{rat.name}}</h5>
                           {{rat.message}}
              
                           <h6 class = "text-success">Rating:-  {{rat.stars}} out of <span class = "text-primary">5</span></h6>
                      </div>
              
                      <code>{{rat.date_comment}}</code>
                      <hr>
                    
              
                  </div>
                  {% empty %}
                  <p>No comments yet</p>

                {% endfor %}
                  
        
              
              
    </body>
      <script>
            var count;
      
            function starmark(item)
            {
            count=item.id[0];
            sessionStorage.starRating = count;
            var subid= item.id.substring(1);
            for(var i=0;i<5;i++)
            {
            if(i<count)
            {
            document.getElementById((i+1)+subid).style.color="orange";
            }
            else
            {
            document.getElementById((i+1)+subid).style.color="black";
            }
            
            
            }
            
            }
            
            /*function result()
            {
            //Rating : Count
            //Review : Comment(id)
            alert("Rating : "+count+"\nReview : "+document.getElementById("comment").value);
            }*/
      
      </script>
      
      
     
     
    
{% endblock %}